{% load static %}

<div class="row mt-3 bg-body-tertiary">
    <div class="col-md-4">
        <h5>Address</h5>
        <hr>
        2nd Floor,Landmark Building<br>
        Near FC Road<br>
        Shivaji Nagar<br>
        <p><i class="bi bi-telephone-fill"></i> : 9090909090</p>
        <p><i class="bi bi-envelope-fill"></i> : ananomous@gmail.com</p>

    </div><!--Address ends-->

    <div class="col-md-4">
        <h5>Quick Links</h5>
        <hr>
        <p><a href="/home" class="anchor">Home</a></p>
        <p><a href="/about" class="anchor">About</a></p>
        <p><a href="/contact" class="anchor">Contact</a></p>
        <p><a href="/post" class="anchor">Post</a></p>
    </div><!---->

    <div class="col-md-4">
        <h5>Contact Us</h5>
        <hr>
        <p><a href="http://www.facebook.com" class="anchor"><i class="bi bi-facebook">Facebook</i></a></p>
        <p><a href="http://www.linkedin.com" class="anchor"><i class="bi bi-linkedin">linkedin</i></a></p>
        <p><a href="http://www.instagram.com" class="anchor"><i class="bi bi-instagram">Instagram</i></a></p>
        <p><a href="http://www.twitter.com" class="anchor"><i class="bi bi-twitter">Twitter</i></a></p>

    </div>
</div>
<!--footer ends-->
</div><!--container ends-->
<script src="{% static 'asset\js\bootstrap.min.js' %}"></script>
<script src="{% static 'asset\js\popper.min.js' %}"></script>

</body>
</html>